*{
	margin: 0px ;
	padding: 0;
}
html{
	padding: 1%;
}
body
{
	border:2px solid #00AEEF;
	color: #00AEEF;
	width: 100%;
	height: 100%;
}
button{
	color:  #00AEEF;
}
.grid {
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 
}
.navigation-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding: 0;
	margin: 0;
	
}
.nav-item{
	flex:20%;
	padding: 1%;
	
	border:2px solid #00AEEF;
}
.halfColumn{
	flex:50%;
	padding: 10%;
	display:inline-block;
	border: 2px solid #00AEEF;
}

.home-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding: 0;
	margin: 0;
}
#buttonEffect{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding: 6px 15px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 30px;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect:hover{
	background-color: #00AEEF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
.team-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-content: space-around;
	text-align: center;
	
	margin: 0;
	padding: 7.5%;

}
.btn{
	flex:33.3%;
	padding: 7.5%;
	display:inline-block;
	
}
#buttonEffect1{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:100px 110px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 50%;
	

	transition: all 0.5s ease-in-out;
	
}
#buttonEffect1:hover{
	background-color: #00AEEF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
#buttonEffect2{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:100px 110px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 50%;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect2:hover{
	background-color: #0000FF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
#buttonEffect3{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:100px 110px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 50%;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect3:hover{
	background-color: #FF00FF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
.about-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-content: space-around;
	text-align: center;
	
	margin: 0;
	padding: 6%;

}
.btn2{
	flex:25%;
	padding: 6%;
	display:inline-block;
	
}
#buttonEffect4{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:90px 120px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 40px;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect4:hover{
	background-color: #00AEEF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
#buttonEffect5{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:90px 120px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 40px;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect5:hover{
	background-color: #00AEEF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
#buttonEffect6{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:90px 120px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 40px;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect6:hover{
	background-color: #00AEEF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #00AEEF;

}
#buttonEffect7{
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font color:  #00AEEF;
	padding:90px 120px;
	display: block;
	background-color: #FFFFFF;
	border: 3px solid  #00AEEF ;
	border-radius: 10px;
	-webkit-border-radius: 40px;
	

	transition: all 0.5s ease-in-out;
	webkit-translation: all 0.5s ease-in-out;
	moz-translation: all 0.5s ease-in-out;
}
#buttonEffect7:hover{
	background-color: #00AEEF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-decoration-color: #FFFFFF;

}
.content-container{
	border:2px solid #00AEEF;
	padding: 1.5%;
	text-align: center;
	justify-content: center;
	font-size: 25px;
}